<!DOCTYPE html>
<% @title = "Text Editor" %>
<html>
<body>
<div>
<input type="hidden" id="englishWord"/>
<textarea  id="area2" rows="15" class="w3-margin " style="width:100%;color:red;"  ></textarea></div>
<div id="menu"  style="font-family:'Hind', sans-serif;background-color:#fff;display:inline-block;position:absolute;display:none;" class="w3-border w3-margin w3-text-black w3-margin w3-card ">

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

<div class="word-list"></div>

</div>
</div>
</body>
</html>